body 	{background-image: url("https://www.lifewire.com/thmb/tjabUq5U545Cpwg0XQ_R-wERdn4=/1920x1080/filters:fill(auto,1)/bodybuildingapps-5b6e930646e0fb002cb3a92d.jpg");

		background-attachment: fixed;
		}
.naslov {font-size: 60px;
		font-family: arial;
		padding-left: 30px;
		padding-bottom: 5px;
		margin-right: 600px;
		margin-left: 600px;
		text-shadow: 2px 3px gray;
		letter-spacing: 3px;
		color: black;
		background-color:white;
		border-radius: 5px;
		
border: solid 5px black;
opacity: 0.9;
	}
.centar { opacity: 0.9;
	background-color: black ;
			border-radius: 5px;
		background-color: white;
		width: 1000px;
		margin-left: px;
		color: black;
		border: solid 5px black;
	}

.levo {border: solid 5px black;
	padding: 20px;
    margin-top: 20px;
    	background-color: white;
    	color: black;
			width: 920px;
		opacity: 0.9;
			border-radius: 8px;
			float: left;
			margin-top: 20px;
			margin-left: 460px;
			margin-bottom: 50px;}

.drugi {border: solid 5px black;
	padding: 20px;
    margin-top: 20px;
    	background-color: white;
    	color: black;
			width: 920px;
		opacity: 0.9;
			border-radius: 8px;
			float: left;
			margin-top: 20px;
			margin-left: 460px;
			margin-bottom: 50px;}

.treci {border: solid 5px black;
	padding: 20px;
    margin-top: 20px;
    	background-color: white;
    	color: black;
			width: 920px;
		opacity: 0.9;
			border-radius: 8px;
			float: left;
			margin-top: 20px;
			margin-left: 460px;
			margin-bottom: 50px;}
.cetvrti {border: solid 5px black;
	padding: 20px;
    margin-top: 20px;
    	background-color: white;
    	color: black;
			width: 920px;
		opacity: 0.9;
			border-radius: 8px;
			float: left;
			margin-top: 20px;
			margin-left: 460px;
			margin-bottom: 50px;}

.peti {border: solid 5px black;
	padding: 20px;
    margin-top: 20px;
    	background-color: white;
    	color: black;
			width: 920px;
		opacity: 0.9;
			border-radius: 8px;
			float: left;
			margin-top: 20px;
			margin-left: 460px;
			margin-bottom: 50px;}

.desno {border: solid 5px black;
	padding: 20px;
    margin-top: 20px;
    	background-color: white;
    	color: black;
			width: 920px;
		opacity: 0.9;
			border-radius: 8px;
			float: left;
			margin-top: 20px;
			margin-left: 460px;
			margin-bottom: 50px;}

.sesti {border: solid 5px black;
	padding: 20px;
    margin-top: 20px;
    	background-color: white;
    	color: black;
			width: 920px;
		opacity: 0.9;
			border-radius: 8px;
			float: left;
			margin-top: 20px;
			margin-left: 460px;
			margin-bottom: 50px;}

.sedmi {border: solid 5px black;
	padding: 20px;
    margin-top: 20px;
    	background-color: white;
    	color: black;
			width: 920px;
		opacity: 0.9;
			border-radius: 8px;
			float: left;
			margin-top: 20px;
			margin-left: 460px;
			margin-bottom: 50px;}

.osmi {border: solid 5px black;
	padding: 20px;
    margin-top: 20px;
    	background-color: white;
    	color: black;
			width: 920px;
		opacity: 0.9;
			border-radius: 8px;
			float: left;
			margin-top: 20px;
			margin-left: 460px;
			margin-bottom: 50px;}

.deveti {border: solid 5px black;
	padding: 20px;
    margin-top: 20px;
    	background-color: white;
    	color: black;
			width: 920px;
		opacity: 0.9;
			border-radius: 8px;
			float: left;
			margin-top: 20px;
			margin-left: 460px;
			margin-bottom: 50px;}

